$logbookColor1: $primary;
$logbookColor2: #6933B9;
$logbookColor3: #9528B9;
$logbookColor4: #FFC107;
$logbookColor5: #28A745;
$logbookColor6: #17A2B8;
$logbookColor7: #bec0cb;

#logbook-setings{
  .disabled{
    opacity: 0.4;
  }
  .row{
    min-height: 64px;
  }
  select{
    padding-right: 0.25rem;
  }
  .trash{
    font-size: 1.4rem;
  }
}

.logbook-settings-scroll{
  max-height: 500px;
}

.color-buttons {

  .selected{
    border-color: #fff!important;
  }

  .btn-group {
    .btn-color {
      padding: 7px 6px;
      margin: 1px;
      border-radius: 2px!important;
      border: transparent 2px solid;
      box-shadow: 1px 1px 10px #000000;


      &.color-1 {
        background: $logbookColor1;
      }

      &.color-2 {
        background: $logbookColor2;
      }

      &.color-3 {
        background: $logbookColor3;
      }

      &.color-4 {
        background: $logbookColor4;
      }

      &.color-5 {
        background: $logbookColor5;
      }

      &.color-6 {
        background: $logbookColor6;
      }

      &.color-7 {
        background: $logbookColor7;
      }

    }
  }
}
