// this is the place for your variable overrides, paste variables from theme/_variables.scss here and set your values

// primary colour is set to false by default to enable multiple colour variants stylesheet creation,
// change to your brand colour if needed
$primary: #af515d;
