.card-profile .card-header {
    height: 9rem;
    background-size: cover;
    background-position: center center;
}

.card-profile-img {
    max-width: 8rem;
    margin-top: -6rem;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    border-radius: 100%;
}

.card-status {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 3px;
    background: rgba(0, 40, 100, 0.12);
}

.card-category {
    text-transform: uppercase;
    font-weight: bold;
    color: $gray-600;
    font-size: 0.9rem;
}
