/*
* ==========================================================
*     SPINKIT PRELOADERS
* ==========================================================
*/

$spinkit-spinner-margin: 0 !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: $colorPrimary !default;

@import "spinners";
