// custom mixins
@import "mixins-custom";
// general styling
@import "general";
// icons styling
@import "icons";
// form elements styling
@import "forms";
// premium form elements styling
@import "forms-premium";
// dropzone
@import "forms-dropzone";
// pages
@import "pages";
// login  page styling
@import "login";
// charts styling
@import "charts";
// charts premium
@import "charts-premium";
// tables styling
@import "tables";
// maps
@import "map";
// other components styling
@import "components";
// Spinkit preloaders
@import "spinkit";
// avatars styling
@import "avatar";
// utils style
@import "utils";
// 3rd-party styling
@import "3rd-party";
// demo styling
@import "demo";
